<div class="vcard">
    <div class="fn_org">Book Store</div>
    <div class="adr">
        <div class="street-address">68 Đường 1/5</div>
        <div>
            <span class="locality">Cao Dương -</span>
            <span class="region">Thanh Oai -</span>
            <span class="city">Hà Nội</span>
        </div>
        <div class="country_name">Việt Nam</div>
    </div>
    <div>Phone: <span class="tel">0971212389</span></div>
    <div>Email: <span class="email">lucky@gmail.com</span></div>
</div>